window {
	background: rgba(0, 0, 0, 0.2);
  	border-radius: 6px;
  	border-style: solid;
  	border-width: 2px;
  	border-color: #5c76cc;
  	margin-bottom: 0px;
}
#box {
  padding: 4px;
}
#active {
  border-bottom: solid 0px;
  border-color: #ffffff;
}
button, image {
  background: none;
  border-style: none;
  box-shadow: none;
  color: #5c76cc;
}
button {
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  color: #5c76cc;
  font-size: 10px
}
